
* {
    font-family: monospace;
    color: white;
    text-align: center;
    text-decoration: none;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 30px;
}

/*
========================================
---------------- NAVBAR ----------------
========================================
*/
.navbar {
    display: flex;
    align-items: center;
    background-image: url(StarsBackground.png);
    position: sticky; 
    top: 0;
}
.navbar nav {
    display: flex;
}
.navbar img {
    background-color: black;
    width: 50px;
    display: inline-flex;
    border-radius: 50px;
    height: 45px;
    width: 45px;
    margin: 10px;
    margin-right: 40px;
}
.navbar a {
    background-color: black;
    border-radius: 18px;
    margin-right: 10px;
    width: 75px;
    padding: 12px;
    font-size: x-large;
}
.navbar a:hover {
    background-color: rgb(15, 15, 15);
}
.navbar .active {
    background-color: rgb(172, 124, 5);
}
.navbar .active:hover {
    background-color: rgb(219, 159, 5);
}